body {
    font-family: -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Helvetica,
        Arial,
        sans-serif;
    line-height: 1.4;
}

%flat-list {
    list-style: none;
    padding-left: 0;
}

.container {
    padding: 30px;
}

.search-results {
    ul {
        @extend %flat-list;
    }
}

.planet-content {
    ul {
        @extend %flat-list;
    }
}